<! DOCTYPE html >
<html ng-app>
	<head>
		<title>GetDone - Task listing</title>
		<link rel="stylesheet" type="text/css" href="style/normalize.css">
		<!-- <link rel="stylesheet" type="text/css" href="style/main.css"> -->
		<script type="text/javascript" src="script/jquery.js"></script>
		<script type="text/javascript" src="script/angular.js"></script>
		<script type="text/javascript">
			(function(w, $){
				var fn = {
					focusFirst : function() {
						// focus on the first data-focus element
						$("[data-focus]").first().focus();
					},
					ctrl: function(deps, ctrl) {
						ctrl.$inject = deps;
						return ctrl;
					}
				}
				w.UserCtrl = fn.ctrl(["$scope"], function($s) {
					$s.name = "Andre Moraes";
				});

				w.TaskCtrl = fn.ctrl(["$scope","$http"], function($s, $http) {
					$s.tasks = [ ];
					$s.addTask = function() {
						$s.task.done = false;
						$s.tasks.push($s.task);
						$s.clear();
					};
					$s.clear = function() {
						$s.task = {done:false, title:""};
						fn.focusFirst();
					};
					$s.fetch = function() {
						$http.get('tasks.json').success(function(data, status){
							$s.tasks = data;
						}).error(function(){console.log('unable to fetch data');});
					};
					$s.inputName = "Describe the task.";

					// do the first fetch automagically
					$s.fetch();
				});

				$(fn.focusFirst);
			}(window, window.jQuery));
		</script>
		<style>
			span.done-false {
				color: red;
			}
		</style>
	</head>
	<body>
		<h2>Project</h2>
		<h3 ng-controller="UserCtrl">These are the tasks for you Mr. {{ name }}!</h3>
		<div class="tasks" ng-controller="TaskCtrl">
			<ul ng-repeat="task in tasks">
				<li><span class="subject done-{{task.done}}">{{task.title}}</span></li>
			</ul>
			<form>
				<input type="text" placeholder="{{emptyTask.title}}" ng-model="task.title" data-focus>
				<button ng-click="addTask()">Add</button>
			</form>
		</div>
	</body>
</html>
